.modal-full {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    margin: 0;

    .modal-content {
        height: 100%;
        max-height: none;
        border: none;
    }
}
// .modal-content {
//     background-color: $modal-color;
//     border: none;
    
//     *:not(button) {
//         color: #fff;
//     }

//     .form-control {
//         background-color: $body-color;
//         color: #fff;
//         border-color: transparent;
//         box-shadow: none;

//         &::placeholder {
//             color: rgba(255,255,255,0.6);
//         }
//     }
// }

