.bg-black-opacity-less {
  background-color: var(--bg-dark-opacity-less);
  backdrop-filter: blur(5px);
}

.bg-center-cover {
  background-position: center;
  background-size: cover;
}

.bg-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
