:root {
  --font-family-sans-serif: "Hind", sans-serif;
}

html {
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  margin: 0.5em auto;
  -webkit-font-smoothing: antialiased;
}

h1, h2, 
.h1, .h2 {
  letter-spacing: 10px;
}

h3,
.h3 {
  letter-spacing: 5px;
}

h4, h5, h6,
.h4, .h5, .h6 {
  letter-spacing: 3px;
}

p {
  margin: 1em 0;
  color: $body-color;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.w-0 {
  width: 0;
}

