h1,
.h1,
h2,
.h2 {
  font-size: pixToRem(24);

  @include media-breakpoint-up(sm) {
    font-size: pixToRem(36);
  }

  @include media-breakpoint-up(md) {
    font-size: pixToRem(50);
  }
}

$sizes: (
  "1": 1,
  "1-4": 1.4,
  "1-6": 1.6,
  "2": 2,
  "2-4": 2.4,
);

@each $name, $size in $sizes {
  .line-height-#{$name} {
    line-height: $size;
  }
}
